Protocol 2
AddressFamily inet
PermitRootLogin no
StrictModes yes
MaxAuthTries 2 
AuthenticationMethods publickey
AuthorizedKeysFile ".ssh/authorized_keys"
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no 
UsePam no 
